region               = "ap-northeast-1"
lambda_function_name = "lambda-sample-image"
ecr_repository_name  = "lambda-sample"
image_tag            = "v1"

slack_channel_id   = "C0GHJKLMN"
slack_team_id      = "T0ABCDEF"

sns_topic_name = "lambda-alerts"
